#!/usr/bin/env bash
# shellcheck disable=SC1091

declare -A __compal__overrides
declare -a __compal__ignore_aliases

if [[ -r "${HOME}/.aliases.os" ]]; then
	source "${HOME}/.aliases.os"
fi

if [[ -r "${HOME}/.aliases.local" ]]; then
	source "${HOME}/.aliases.local"
fi

alias b64d='base64 -d'

alias chmox='chmod'

alias chownme='chown "${USER}:${GROUPS[0]}"'
alias chownrme='chown -R "${USER}:${GROUPS[0]}"'
alias schownme='sudo chown "${USER}:${GROUPS[0]}"'
alias schownrme='sudo chown -R "${USER}:${GROUPS[0]}"'

if ! alias rm &>/dev/null; then
	alias rm='rm -i'
fi

alias ga='git add'
alias gai='git ai'
alias gap='git ap'
alias gbd='git bd'
alias gbdd='git bdd'
alias gbm='git bm'
alias gc='git commit'
alias gca='git ca'
alias gcac='git cac'
alias gcam='git cam'
alias gcar='git car'
alias gcd='cd "$(git rev-parse --show-toplevel)"'
alias gcf='git cf'
alias gcm='git cm'
alias gco='git co'
alias gcob='git cob'
alias gcp='git cherry-pick'
alias gd='git diff'
alias gdc='git dc'
alias gdt='git dt'
alias gdtc='git dtc'
alias gf='git fetch'
alias gfa='git fa'
alias gl='git log'
alias glf='git lf'
alias gm='git merge'
alias gmt='git mt'
alias gp='git pull'
alias gpf='git pf'
alias gpt='git pt'
alias gpu='git pu'
alias gpush='git push'
alias gpushd='pushd "$(git rev-parse --show-toplevel)"'
alias gpushup='git pushup'
alias gr='git reset'
alias grau='git rau'
alias grb='git rebase'
alias grbu='git rbu'
alias grh='git rh'
alias gs='git status'
alias gss='git ss'
alias gsu='git su'

alias title='printf "\033]0;\007"'

lfile() {
	local lastfile curfile

	if [[ "$#" -lt '1' ]]; then
		echo 'Usage: lfile command' >&2
		return 64
	fi

	for curfile in *; do
		if [[ "$curfile" > "$lastfile" && -f "$curfile" ]]; then
			lastfile="$curfile"
		fi
	done

	"$@" "$lastfile"
}

# shellcheck disable=SC2010
if [[ -z "${BASH_ALIASES[ls]:-}" ]]; then
	if ls --version |& grep 'GNU' -q; then
		alias ls='ls -F --color=auto --show-control-chars'
	else
		alias ls='ls -F -G'
	fi
fi

alias ll='ls -l'
alias l.='ls -d .*'
alias ll.='ll -d .*'

if [[ -n "${BASH_COMPLETION_DISABLE:-}" ]]; then
	return 0
fi

# shellcheck disable=SC1094,SC2034
{
	COMPAL_AUTO_UNMASK='1'
	source "${HOME}/.config/yadm/complete-alias/complete_alias"
}

# alias completion overrides
__compal__get_alias_body() {
	local cmd="$1"
	local body; body="$(alias "$cmd")"

	body="${__compal__overrides[${cmd}]:-${body}}"
	echo "${body#*=}" | command xargs
}

alias_completion() {
	local aliases_def ignored
	aliases_def="$(declare -p BASH_ALIASES)"
	local -A aliases="${aliases_def#*=}"

	for ignored in "${__compal__ignore_aliases[@]}"; do
		unset "aliases[${ignored}]"
	done

	complete -F _complete_alias "${!aliases[@]}"
}
alias_completion
